body{
	padding: 0;
	margin: 0;
}
.main{
	position: relative;
	width: 1660px;
	height: 4453px;
	background: #FFFFFF;
}
.main header .logo{
	position: absolute;
	width: 155px;
	height: 50px;
	left: 125px;
	top: 15px;
}
.main .main_search fieldset{
	position: absolute;
	width: 389px;
	height: 50px;
	left: 557px;
	top: 14px;

	background: #FFFFFF;
	border: 1px solid #D2E1F5;
	box-sizing: border-box;
	border-radius: 4px;
}
.main .main_search fieldset input{
	width: 389px;
	height: 50px;
	left: 557px;
	top: 14px;
	background: #FFFFFF;
	border: 1px solid #D2E1F5;
	box-sizing: border-box;
	border-radius: 4px;
	font-family: Avenir Next Cyr;
	font-style: normal;
	font-weight: 450;
	font-size: 16px;
	line-height: 20px;
	color: #A7C0E2;	
}
.main .main_search fieldset .main_button_search{
	position: absolute;
	width: 98px;
	height: 36px;
	left: 287px;
	top: 7px;
	background: #32D29F;
	border-radius: 2px;
}
.lang select{
	position: absolute;
	width: 50px;
	height: 20px;
	left: 1223px;
	top: 29px;
	font-family: Avenir Next Cyr;
	font-style: normal;
	font-weight: 450;
	font-size: 16px;
	line-height: 20px;
	color: #16395B;
}
.main .main_logging button{
	position: absolute;
	width: 100px;
	height: 36px;
	left: 1318px;
	top: 22px;
	background: #32D29F;
	border: 1px solid #32D29F;
	box-sizing: border-box;
	border-radius: 2px;
}
.main .main_logging img{
	position: absolute;
	left: 9.67%;
	right: 16.67%;
	top: 25.17%;
	bottom: 8.33%;
}
.main .main_menu .main_menu_el{
	position: absolute;
	width: 47px;
	height: 20px;
	left: 1456px;
	top: 29px;
	font-family: Avenir Next Cyr;
	font-style: normal;
	font-weight: 450;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */
	color: #16395B;
}
.main .main_menu img{
	position: absolute;
	left: 98.5%;
	right: 12.5%;
	top: 25%;
	bottom: 25%;
}