body{
	padding: 0;
	margin: 0;
}
.main{
	position: relative;
	width: 1660px;
	height: 4453px;
	background: #FFFFFF;
}
.main header .logo{
	position: absolute;
	width: 155px;
	height: 50px;
	left: 125px;
	top: 15px;
}
.main .main_search fieldset{
	position: absolute;
	width: 389px;
	height: 50px;
	left: 557px;
	top: 14px;

	background: #FFFFFF;
	border: 1px solid #D2E1F5;
	box-sizing: border-box;
	border-radius: 4px;
}
.main .main_search fieldset input{
	width: 389px;
	height: 50px;
	left: 557px;
	top: 14px;
	background: #FFFFFF;
	border: 1px solid #D2E1F5;
	box-sizing: border-box;
	border-radius: 4px;
	font-family: Avenir Next Cyr;
	font-style: normal;
	font-weight: 450;
	font-size: 16px;
	line-height: 20px;
	color: #A7C0E2;	
}
.main .main_search fieldset .main_button_search{
	position: absolute;
	width: 98px;
	height: 36px;
	left: 287px;
	top: 7px;
	background: #32D29F;
	border-radius: 2px;
}
.lang select{
	position: absolute;
	width: 50px;
	height: 20px;
	left: 1223px;
	top: 29px;
	font-family: Avenir Next Cyr;
	font-style: normal;
	font-weight: 450;
	font-size: 16px;
	line-height: 20px;
	color: #16395B;
}
.main .main_logging button{
	position: absolute;
	width: 100px;
	height: 36px;
	left: 1318px;
	top: 22px;
	background: #32D29F;
	border: 1px solid #32D29F;
	box-sizing: border-box;
	border-radius: 2px;
}
.main .main_logging img{
	position: absolute;
	left: 9.67%;
	right: 16.67%;
	top: 25.17%;
	bottom: 8.33%;
}
.main .main_menu .main_menu_el{
	position: absolute;
	width: 47px;
	height: 20px;
	left: 1456px;
	top: 29px;
	font-family: Avenir Next Cyr;
	font-style: normal;
	font-weight: 450;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */
	color: #16395B;
}
.main .main_menu img{
	position: absolute;
	left: 98.5%;
	right: 12.5%;
	top: 25%;
	bottom: 25%;
}
header hr{
	position: absolute;
	width: 1660px;
	height: 0px;
	left: 13px;
	top: 80px;
	border: 1px solid #C0D3FE;
}
.links li{
	text-decoration: none;
	list-style-type: none;
}
.links #main{
	position: absolute;
	width: 62px;
	height: 20px;
	left: 125px;
	top: 111px;
	font-family: Avenir Next Cyr;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */
	text-decoration-line: underline;
	color: #16395B;
}
.links #clinic{
	position: absolute;
	width: 54px;
	height: 20px;
	left: 231px;
	top: 111px;
	font-family: Avenir Next Cyr;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */
	color: #16395B;
}
.links #medical{
	position: absolute;
	width: 157px;
	height: 20px;
	left: 329px;
	top: 111px;
	font-family: Avenir Next Cyr;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */
	color: #A7C0E2;
}
.links img{
	position: absolute;
	left: 16.67%;
	right: 16.67%;
	top: 33.33%;
	bottom: 33.33%;
	background: #000000;
}
.main_header .main_header_contacts{
	position: absolute;
	width: 721px;
	height: 600px;
	left: 125px;
	top: 164px;
	background: linear-gradient(130.14deg, #2BBB97 45.98%, #25AEF6 91.19%);
	border-radius: 4px 0px 0px 4px;
}
.main_header .main_header_foto{
	position: absolute;
	width: 690px;
	height: 300px;
	left: 845px;
	top: 164px;
	background: rgba(58, 89, 120, 0.8);
}
.main_header .main_header_map{
	position: absolute;
	width: 690px;
	height: 300px;
	left: 845px;
	top: 464px;
	background: rgba(58, 89, 120, 0.8);
}